@mixin threedshadow($color, $depth) {
    $all: ();

    @for $i from 1 through $depth {
        $all: append($all, append($i*1px $i*1px 0, $color), comma);
        text-shadow: $all;
    }
}

body {
    perspective: 150rem;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

#title {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: inherit;
}

@keyframes wiggle {
    from {
        transform: rotate(-5deg);
    }

    to {
        transform: rotate(-5deg);
    }
}

.links {
    flex-grow: 1;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;

    a {
        color: #01cdfe;
        text-decoration: none;
        text-align: center;
        font-size: 2em;
        @include threedshadow(#ff71ce, 5);
        animation: wiggle 1s infinite alternate ease-in-out;
    }
}
