<link href="~/Content/Home/Index.scss" rel="stylesheet" type="text/scss" />

<div id="title"></div>

<div class="links">
    <a href="/Login/">Iniciar Sesion</a>
    <a href="#">Jugar como invitado</a>
    <a href="/Config/">Admin</a>
</div>

<script src="~/Scripts/three.min.js"></script>
<script src="~/Scripts/OBJLoader.js"></script>
<script src="~/Scripts/TitleSpin.js"></script>
