@using quien_es_quien.Models;

<link href="~/Content/Home/Index.scss" rel="stylesheet" type="text/scss" />

<div id="title"></div>

<div class="links">
    @{User user = (User)Session["user"];}
    @if (user != null) {
        <a href="@Url.Action("Logout", "Login")">Cerrar Sesion</a>
        <a href="#">Jugar</a>
        if (user.Admin) {
            <a href="@Url.Action("Index", "Admin")">Menu de Administrador</a>
        }
    } else {
        <a href="@Url.Action("Index", "Login")">Iniciar Sesion</a>
        <a href="#">Jugar como invitado</a>
    }
</div>

<script src="~/Scripts/three.min.js"></script>
<script src="~/Scripts/OBJLoader.js"></script>
<script src="~/Scripts/TitleSpin.js"></script>
