<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/MhK-fuLbPTA?rel=0&amp;autoplay=1&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media"></iframe>
<link href="~/Content/Index.less" rel="stylesheet/less" type="text/css" />
<div class="logo">
    <div>
        <h1>?</h1>
    </div>
    <div>
        <h2>Quien es Quien</h2>
    </div>
</div class="logo">
<div class="links">
    <a href="#">Iniciar Sesion</a>
    <a href="#">Jugar como invitado</a>
</div>