<link href="~/Content/Home/Index.scss" rel="stylesheet" type="text/scss" />
<div class="logo">
    <div>
        <h1>?</h1>
    </div>
    <div>
        <h2>Quien es Quien</h2>
    </div>
</div>
<div class="links">
    <a href="#">Iniciar Sesion</a>
    <a href="#">Jugar como invitado</a>
    <a href="/Config/">Admin</a>
</div>