@using quien_es_quien.Models;

@{
    List<User> users = ViewBag.users;
}

<link href="~/Content/GenericList.scss" rel="stylesheet" type="text/scss" />

<a id="back" href="@Url.Action("Index", "Admin")">⇐ Volver</a>
<h1>Usuarios:</h1>
<ul>
    @foreach (User u in users) {
        <li>
            <span>@u.Username</span>
            <a href="@Url.Action("Edit", new { id=u.id, _action="edit" })">✎</a>
            <a href="@Url.Action("Edit", new { id=u.id, _action="delete" })">🗑</a>
        </li>
    }
</ul>
