
@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

<form action="/Login/RegisterUser">
    <input type="text" name="user" />
    <input type="text" name="pass" />
    <input value="Registar" type="submit"/>
</form>