<link href="~/Content/Game/Lose.scss" rel="stylesheet" type="text/scss" />

<h1>PERDISTE</h1>
<span>Bitcoins gastadas: @ViewBag.spent</span>
<span><a href="@Url.Action("Index", "Home")">Volver a la Home</a></span>