@using quien_es_quien.Models;
@{
    ViewBag.Title = "Win";

    var bitcoinsRemaining = (int)ViewBag.bitcoins;
    var SecretCharacter = (Character)ViewBag.SecretCharacter;
    var SpentBitcoins = (int)ViewBag.SpentBitcoins;
}

<h2>Win</h2>

<p>Tu personaje era @SecretCharacter.Name, y ganaste con @bitcoinsRemaining bitcoins restantes. Tu ganancia es de @System.Math.Floor(SpentBitcoins * 1.2) bitcoins</p>
