@using quien_es_quien.Models;
@{
    ViewBag.Title = "Win";

    var bitcoinsRemaining = (int)ViewBag.bitcoins;
    var secretCharacter = (Character)ViewBag.secretCharacter;
}

<link href="~/Content/Game/Win.scss" rel="stylesheet" type="text/scss" />

<h2>Win</h2>

<p>Tu personaje era @secretCharacter.Name, y ganaste con @bitcoinsRemaining bitcoins restantes</p>