<link href="~/Content/Config/GenericEdit.scss" rel="stylesheet" type="text/scss" />

@using quien_es_quien.Models
@model Characteristic

@using (Html.BeginForm("SaveCharacteristic", "Config")) {
    @Html.HiddenFor(x => x.Id)
    <label for="name">Nombre</label>
    @Html.TextBoxFor(x => x.Name, new { id = "name" })
    <label for="type">Tipo</label>
    @Html.DropDownListFor(x => x.Type, new SelectList(ViewBag.types, "Id", "Name"), new { id = "type" })
    <label for="url">Url</label>
    @Html.TextBoxFor(x => x.Url, new { id = "url" })
    <input type="submit" value="Guardar" />
}