<link href="~/Content/Config/GenericEdit.scss" rel="stylesheet" type="text/scss" />

@using quien_es_quien.Models
@model Character

@using (Html.BeginForm("SaveCharacter", "Config")) {
    @Html.HiddenFor(x => x.Id)
    <label for="name">Nombre</label>
    @Html.TextBoxFor(x => x.Name, new { id = "name" })
    foreach (CharacteristicType characteristicType in ViewBag.characteristicTypes)
    {
        <label>@characteristicType.Name</label>
        <select>
            
        </select>
    }@*
    for i in tipos {

    < select name = i.nombre >


    for j in caracteristicas {
            if j.tipo == i {

            < option value = j.id > j.nombre </ option >


        }
        }

    </ select >
            }*@
    < input type="submit" value="Guardar" />
}