<link href="~/Content/Config/GenericEdit.scss" rel="stylesheet" type="text/scss" />

@using quien_es_quien.Models
@model Character

@using (Html.BeginForm("SaveCharacter", "Config")) {
    @Html.HiddenFor(x => x.Id)
    <label for="name">Nombre</label>
    @Html.TextBoxFor(x => x.Name, new { id = "name" })
    <input type="submit" value="Guardar" />
}