<link href="~/Content/Config/Index.scss" rel="stylesheet" type="text/scss" />

<header>
    <div id="helios"></div>
    <div>
        <h1>Home De Administrador</h1>
    </div>
</header>

<nav>
    <a href="#">Ver Usuarios</a>
    <a href="@Url.Action("ListCharacteristics")">Ver Caracteristicas</a>
    <a href="@Url.Action("ListCharacters")">Ver Personajes</a>
    <a href="#">Ver Preguntas</a>
</nav>

<script src="~/Scripts/three.min.js"></script>
<script src="~/Scripts/OBJLoader.js"></script>
<script src="~/Scripts/HeliosSpin.js"></script>
