<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/MhK-fuLbPTA?rel=0&amp;autoplay=1&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media"></iframe>
<link href="~/Content/Admin_Index.less" rel="stylesheet/less" type="text/css" />
<script src="~/Scripts/OBJLoader.js"></script>
<script src="~/Scripts/Admin_Index.js"></script>

<header>
    <div>
        <img src="~/Content/helios.png" alt="?" />
    </div>
    <div>
        <h1>Home De Administrador</h1>
    </div>
</header>

<nav>
    <a href="#">Ver Usuarios</a>
    <a href="/Config/ListCharacteristics">Ver Caracteristicas</a>
    <a href="#">Ver Preguntas</a>
</nav>