@using quien_es_quien.Models;

@{
    List<Characteristic> characteristics = ViewBag.characteristics;
}

<link href="~/Content/ListCharacteristics.less" rel="stylesheet/less" type="text/css" />

<h2>Caracteristicas:</h2>
<ul>
    @foreach (Characteristic c in characteristics) {
        <li>
            <span>@c.name</span>
            <a href="@Url.Action("EditCharacteristic", new { name = c.name, id = c.id, action = "edit" })">✎</a>
            <a href="@Url.Action("EditCharacteristic", new { name = c.name, id = c.id, action = "delete" })">🗑</a>
        </li>
    }
</ul>
