@using quien_es_quien.Models;

@{
    List<Characteristic> characteristics = ViewBag.characteristics;
}

<link href="~/Content/ListCharacteristics.min.css" rel="stylesheet" />

<h1>Caracteristicas:</h1>
<ul>
    @foreach (Characteristic c in characteristics) {
        <li>
            <span>@c.name</span>
            <a href="/Config/EditCharacteristic?name=@c.name&id=@c.id&_action=edit">✎</a>
            <a href="/Config/EditCharacteristic?name=@c.name&id=@c.id&_action=delete">🗑</a>
        </li>
    }
</ul>
