@using quien_es_quien.Models;

@{
    List<Characteristic> characteristics = ViewBag.characteristics;
}

<link href="~/Content/Config/GenericList.scss" rel="stylesheet" type="text/scss" />

<h1>Caracteristicas:</h1>
<a href="@Url.Action("EditCharacteristic", new { id=-1, _action="create" })">Crear Nueva Caracteristica</a>
<ul>
    @foreach (Characteristic c in characteristics) {
        <li>
            <span>@c.Name</span>
            <a href="@Url.Action("EditCharacteristic", new { id=c.Id, _action="edit" })">✎</a>
            <a href="@Url.Action("EditCharacteristic", new { id=c.Id, _action="delete" })">🗑</a>
        </li>
    }
</ul>
