@{

    ViewBag.Title = "ListCharacteristics";

    List<quien_es_quien.Models.Characteristic> characteristics = ViewBag.characteristics;
}

<h2>ListCharacteristics</h2>
<div>
    @foreach (quien_es_quien.Models.Characteristic c in characteristics) {
        <p><span>@c.id</span><span>@c.name</span></p>
    }
</div>
