@using quien_es_quien.Models;

@{
    List<Characteristic> characteristics = ViewBag.characteristics;
}

<link href="~/Content/Config/ListCharacteristics.scss" rel="stylesheet" type="text/scss" />

<h1>Caracteristicas:</h1>
<a href="@Url.Action("EditCharacteristic", new { _action="create" })">Crear Nueva Caracteristica</a>
<ul>
    @foreach (Characteristic c in characteristics) {
        <li>
            <span>@c.name</span>
            <a href="@Url.Action("EditCharacteristic", new { name=c.name, _id=c.id, _action="edit" })">✎</a>
            <a href="@Url.Action("EditCharacteristic", new { name=c.name, _id=c.id, _action="delete" })">🗑</a>
        </li>
    }
</ul>
