<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quien es Quien</title>
    <link href="~/Content/Global.css" rel="stylesheet" />
</head>
<body>
    <iframe src="https://www.youtube.com/embed/MhK-fuLbPTA?autoplay=1" allow="autoplay; encrypted-media"></iframe>
    @RenderBody()
    <script src="~/Scripts/SassCache.js"></script>
    @*<script src="~/Scripts/in-browser-sass-standalone.min.js"></script>*@
</body>
</html>