<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quien es Quien</title>
    <link href="~/Content/Global.css" rel="stylesheet" />
</head>
<body>
    <audio autoplay loop>
        <source src="~/Content/song.ogg" type="audio/ogg">
    </audio>
    @RenderBody()
    <script src="~/Scripts/sass.js"></script>
    <script src="~/Scripts/SassCache.js"></script>
</body>
</html>