<link href="~/Content/Admin/Index.scss" rel="stylesheet" type="text/scss" />

<header>
    <div id="helios"></div>
    <div>
        <h1>Home De Administrador</h1>
    </div>
</header>

<nav>
    <a href="@Url.Action("List", "User")">Ver Usuarios</a>
    <a href="@Url.Action("List", "Characteristic")">Ver Caracteristicas</a>
    <a href="@Url.Action("List", "Character")">Ver Personajes</a>
</nav>

<script src="~/Scripts/three.min.js"></script>
<script src="~/Scripts/OBJLoader.js"></script>
<script src="~/Scripts/HeliosSpin.js"></script>
