body {
    display: grid;
    grid-template-columns: max-content 1fr;
    height: 100vh;
}

main {
    background: rgba(purple, 0.5);
    border: 4px dashed cyan;
    padding: 1em;
}

h1 {
    text-align: center;
}

#question {
    display: grid;
    grid-template-columns: max-content 1fr 1fr max-content;
    grid-gap: 1em;

    input[type=submit] {
        grid-column: 1 / -1;
    }
}

#models {
    overflow: hidden;
}