body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@keyframes rip {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.5);
    }
}

h1 {
    font-size: 3em;
    color: #F00;
    animation: rip infinite 1s alternate ease-in-out;
    animation-delay: 1.5s;

    &::before {
        z-index: -1;
        position: absolute;
        display: inline-block;
        content: "PERDISTE";
        color: yellow;
        opacity: 0.5;
        animation: rip infinite 1s alternate ease-in-out;
    }
}

span {
    margin: 0.5em;
    padding: 1em;
    background: rgba(purple, 0.5);
    border: 4px dashed cyan;
}

a {
    text-decoration: none;
    color: yellow;
}
