body {
    display: grid;
    grid-template-columns: max-content 1fr;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    background: rgba(purple, 0.5);
    border: 4px dashed cyan;
}

h1 {
    text-align: center;
    border-top: 4px dashed cyan;
    margin: 0;

    &:first-child {
        border-top: none;
    }
}

.bitcoins {
    text-align: center;
    font-size: 2em;
}

form {
    padding: 1em;
}

#question {
    display: grid;
    grid-template-columns: max-content 1fr 1fr max-content;
    grid-gap: 1em;

    input[type=submit] {
        grid-column: 1 / -1;
    }
}

#answer {
    grid-column: 1 / -1;
    font-size: 5em;
    text-align: center;

    &.yes {
        color: #0f0;
    }

    &.no {
        color: #f00;
    }
}

#models {
    overflow: hidden;
}