body {
    color: #01cdfe;
    perspective: 50rem;
    overflow: hidden;
    background: url(bg.jpg);
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

@keyframes wiggle_logo_1 {
    from {
        transform: rotateY(0) rotateX(0);
    }

    50% {
        transform: rotateY(0.5turn) rotateX(15deg);
    }

    to {
        transform: rotateY(1turn) rotateX(0);
    }
}

@keyframes wiggle_logo_2 {
    from {
        transform: rotateY(0) rotateX(0) translateZ(1rem);
    }

    50% {
        transform: rotateY(0.5turn) rotateX(15deg) translateZ(1rem);
    }

    to {
        transform: rotateY(1turn) rotateX(0) translateZ(1rem);
    }
}

.logo {
    flex-grow: 1;

    div {
        width: 100vw;
        height: 50vh;
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;

        &:first-child * {
            animation: wiggle_logo_1 2s infinite linear;
            font-size: 15rem;
            margin: 0;
        }

        &:last-child * {
            animation: wiggle_logo_2 2s infinite linear;
            margin: 0;
            color: #91e9ff;
        }
    }
}

@keyframes wigglea {
    from {
        transform: rotate(-5deg);
    }

    to {
        transform: rotate(5deg);
    }
}

.links {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    a {
        color: #01cdfe;
        text-decoration: none;
        text-align: center;
        font-size: 2em;
        text-shadow: 1px 1px #ff71ce, 2px 2px #ff71ce, 3px 3px #ff71ce, 4px 4px #ff71ce, 5px 5px #ff71ce;
        animation: wigglea 1s infinite alternate ease-in-out;
    }
}
