@mixin threedshadow($color, $depth) {
    $all: ();

    @for $i from 1 through $depth {
        $all: append($all, append($i*1px $i*1px 0, $color), comma);
        text-shadow: $all;
    }
}

#back {
    border: 2px dashed #00ffff;
    background: rgba(green, 0.5);
    padding: .5em;
    text-decoration: none;
    color: inherit;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

header {
    height: 50vh;

    div {
        width: 100vw;
        height: 50vh;
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@keyframes rainbow {
    from {
        filter: hue-rotate(0);
    }

    to {
        filter: hue-rotate(1turn);
    }
}

h1 {
    animation: rainbow 10s infinite linear;
    color: #01cdfe;
    @include threedshadow(#ff71ce, 5);
}

nav {
    display: flex;
    height: 50vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    a {
        font-size: 2em;
        color: #01cdfe;
        @include threedshadow(#ff71ce, 5);
        text-decoration: wavy underline #01cdfe;
        padding: 0.5em;
    }
}
